.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-as44I7WwR-rZ);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__hd1NQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  margin-left: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 0px;
}
.freeBox__aevWe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 8px;
  padding: 19px;
}
.text__k4Mq5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 30px;
  font-size: 24px;
  font-weight: 700;
}
.button__wla2U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 10px;
  height: 37px;
}
.text__rzaxM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
}
.button___7Iws1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 10px;
  height: 37px;
}
.text__gbyOk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
}
.button__sw55T:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 10px;
  height: 37px;
}
.text__caWMo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
}
.button___5KvKb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 10px;
  height: 37px;
}
.text__vmUp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
}
.freeBox__y8D0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__eRhhn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  min-width: 0;
  padding: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 267px;
  flex-shrink: 0;
}
.button___2WlIa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___0RzMr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__uQyu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.column__uQyu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.column__uQyu > :global(.__wab_flex-container) > *,
.column__uQyu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__uQyu > :global(.__wab_flex-container) > picture > img,
.column__uQyu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__lxhOj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px 8px;
}
.freeBox__nJt3D {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 8px 8px 0px;
}
.text___36Ef {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  padding-left: 0px;
  min-width: 0;
}
.button__l8Fkb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 12px;
}
.text___7McEh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___36Qwd:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vVm91 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__f9Dv3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 10px;
  min-width: 0;
  padding: 0px;
}
.freeBox___0UWny {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 8px 8px 0px;
}
.text__huLUx {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  margin-bottom: 8px;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 561px;
}
.freeBox__dRnQs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__lx2Aw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-bottom: 8px;
}
.timePicker:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 238px;
}
.richTextEditor:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 427px;
  min-width: 0;
  flex-shrink: 0;
}
.section__iwdxk {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__iwdxk > * {
  grid-column: 4;
}
.freeBox__zqXg0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.h1___4F5R0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  padding-top: 16px;
  padding-left: 16px;
  min-width: 0;
}
.calendar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.section__sPkOa {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__sPkOa > * {
  grid-column: 4;
}
.freeBox__asVnq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox__nnQzs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.h1___7Ytv {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  padding-top: 16px;
  padding-left: 16px;
  min-width: 0;
}
.button__mPt44:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__i1ADq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__e1PuM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.chart__xZZtd:global(.__wab_instance) {
  width: 649px;
  max-width: 100%;
  object-fit: cover;
  height: 326px;
  margin-right: 0px;
  flex-shrink: 0;
}
.embedHtml__cL55C:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vxqr9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vVrt0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.statistic__ik8Jo:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 20px;
  width: 100px;
  flex-shrink: 0;
}
.text__nTiGa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__sp43 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__gTIk:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 20px;
  width: 100px;
  flex-shrink: 0;
}
.text__z5BAj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__b10U1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__a6VXr:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 20px;
  width: 100px;
  flex-shrink: 0;
}
.text___3Itvb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__jLy6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__gPiT:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 20px;
  width: 100px;
  flex-shrink: 0;
}
.text__haMqN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__qomcp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__zFd7Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.chart__pyeBv:global(.__wab_instance) {
  width: 649px;
  max-width: 100%;
  object-fit: cover;
  height: 326px;
  margin-right: 0px;
  flex-shrink: 0;
}
.embedHtml__jKqaa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___6S2P {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
.freeBox___6Rqed {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.statistic__yrWdl:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 20px;
  width: 100px;
  flex-shrink: 0;
}
.text__tXiAm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__wIlMw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-top: 0px;
  min-width: 0;
}
.statistic__d61Od:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 20px;
  width: 100px;
  flex-shrink: 0;
}
.text__xtFow {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__hThle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__yMvUo:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 20px;
  width: 100px;
  flex-shrink: 0;
}
.text__eczJt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__jUh8N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__fp0Py:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 20px;
  width: 100px;
  flex-shrink: 0;
}
.text__uBI4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__wfKK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.statistic__ocrAz:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 0px;
  width: 100px;
  flex-shrink: 0;
}
.text__di6W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  text-align: center;
  min-width: 0;
}
.text__p7Qat {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.table:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 332px;
  overflow: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 16px;
}
.svg__xTrNb {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.section__xcFxf {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 2px;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 8px;
}
.section__xcFxf > * {
  grid-column: 4;
}
.freeBox___9NgpV {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: radial-gradient(
      ellipse 40% 60% at 20% 20%,
      #ce9fff 0%,
      #56b9ff 100%
    )
    0% 0% / 100% 100% repeat;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__uaF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.button__fN1X:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__hce0F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ekCZx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h1__cAMeK {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  margin-bottom: 17px;
  margin-top: 30px;
  min-width: 0;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 742px;
}
.button__fclse:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 10px;
  color: var(--token-SNiZIsbGJT2n);
  cursor: pointer;
  margin-bottom: 8px;
  width: 118px;
  height: 40px;
  flex-shrink: 0;
}
.text__cZB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  min-width: 0;
}
.freeBox__aEyvT {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.freeBox__gRirr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #dbdbd8;
}
.text__h5ZWh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 7px;
  min-width: 0;
}
.text___78JzB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre-wrap;
  margin-bottom: 8px;
  min-width: 0;
}
.button__fHboP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: var(--token-SNiZIsbGJT2n);
}
.text__enGle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg__y74Zx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  width: 100px;
  height: 100px;
  margin-top: 10px;
  flex-shrink: 0;
}
.column__xdikN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__ghJho {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.radioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.radio__h9Cy7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__jiLGc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__iqp9D:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__qm8K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__c7QMe {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 776px;
  max-width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  flex-grow: 0;
  max-height: 775px;
  overflow: auto;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__oso5E {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: none;
  cursor: pointer;
  margin-top: 8px;
  backdrop-filter: blur(3px);
  min-width: 0;
  -webkit-backdrop-filter: blur(3px);
  border-radius: 8px;
  padding: 15px;
  border: 1px solid #dbdbd8;
}
.text__lEzSc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3Odoz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  color: var(--token-SNiZIsbGJT2n);
  min-width: 0;
}
.text__pkJ1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  min-width: 0;
}
.freeBox__oqcg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 84px;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px;
}
.calendarNew:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__hSmBv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
